$theme-color: #606030;
$theme-light: #606030($theme-color, 25%);
$theme-dark: #606030($theme-color,25%);

@mixin reset{
    margin:0;
    padding:0;
}

@mixin display($type){
    display: $type;
}

@mixin flex($direction){
    @include display(flex);
    flex-direction: $direction;
}
body{
    @include reset;
}
header{
    .logo{
        max-width:150px;
        max-height: 150px;
        display:block;
        margin: 0 auto;
    }
}
#task-form{
    @include flex(row);
    input{
        flex:1;
        padding: 12px;
        border-radius: 7px;
        border: 1px solid #5e61a3 ;
        background-color: transparent;
    }
    //add a task section
    input:focus{
        //border-color: #5e61a3;
        border-radius: 7px;
        background-color: #FFF8DC;
        color:#1b2485;

    }
    //button add
    button{
      background-color: transparent ;
      color:black;
      border: 1px solid #1b2485 ;
      border-radius: 10px;
      width: 80px;
    }
    button:hover{
      background-color: #1b2485;
      color: #FFF8DC;
    }
}
#task-list{
    @include reset;
    list-style: none;
    padding: 5px;
    color: #1b2485;
    li{
        border-bottom: 0.5px solid  #5e61a3;
            .task-container{
            @include flex(row);
            justify-content: space-between;
            .task-name{
                 padding: 1em;
            }
            .task-buttons{
                @include flex(row);
                button{
                    width: 40px;
                    height: 50px;
                    font-size: 1.5em;
                    background-color: transparent;
                    border: 3px solid transparent;
                    color:#1b2485;
                }
                button:focus{
                    outline: none;
                    background-color: transparent;
                }
                button:hover{
                  background-color: transparent;
                  color: #ff1400;
                }
            }
        }
    }
    li[data-status="true"]{
      color:#ff1400;
      .task-name{
        text-decoration: line-through;
        opacity: 0.5;

      }
    }
}
