doctype html
html
    head
        tittle To Do List
        link(href='styles/styles.css',rel='stylesheet')
        mate(name='viewport',content='width=device-width,initial-scale =1')
    body
        .app
            header
             img.logo(src='images/logo.png')
             h1 To Do List
            form#task-form
             input(type='text',placeholder='add a task',id='task-input')
             button#task-add(type='submit') Add
            main
             ul#task-list

            footer
    script(src='./js/main.js')
